<h1 class ="text-center">新增文章</h1>
<div class ="col-md-4 col-md-offset-4" >
	<%= simple_form_for [@group , @post]  do |f| %>
		
		<%=f.input :image , :as => :file, label: '圖片上傳', :input_html => { :class => "form-control" } %>
		<%=f.input :content ,label: '文章內容', placeholder: '文章內容' ,:input_html => { :class => "form-control" } %>
		

	<hr>
	 <div class="form-actions">
      <%= f.submit "送出", :disable_with => 'Submiting...', :class => "btn btn-primary"%>

    </div>
    <% end %>
</div>